﻿@model dynamic

@{
    ViewBag.Title = "Page not found";
}

            <section class='section-wrapper not-found-w'>
              <div class='container'>
                <div class='row'>
                  <div class='span4 offset1'>
                    <img alt="Not-found-error" src="~/Images/404.png" />
                  </div>
                  <div class='span6'>
                    <h1 class='header-notfound'>Well, You Finally Did It!!!</h1>
                    <h4>You found a page that doesn't exist.<i> (Unlike your child's imaginary friend).</i></h4>
<div class='row row-separated'></div>
                    <p>Let's try one of the following remedies to get you back on track...</p>
                    <div class='not-found-solutions btn-group'>
                      <a href="javascript:history.go(-1)" class="btn"><i class='icon-circle-arrow-left'></i>
                        Go back
                      </a>
                      <a href="/" class="btn"><i class='icon-home'></i>
                        Go to the homepage
                      </a>
                      <a href="http://help.bananaplanr.com" class="btn"><i class='icon-group'></i>
                        Help
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </section>
