﻿/*landing page Sign-up form*/

.product-header-pricing .header-cta { margin-top: 2em }

        .product-header-pricing .header-cta p { margin: 1em 0 0 0 }

        .product-header-pricing .header-cta .big-button { line-height: 1.2em }

.product-header-signup {
    background: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    float: right;
    padding: 2em 0;
    width: 100%;
    -webkit-box-shadow: 0 0 10px #282e31;
    box-shadow: 0 0 10px #282e31;
}

    .product-header-signup form {
        background: #f8f9fa;
        padding: 2em 2em 1em 2em;
        border: 1px solid #d8e0e4;
        border-width: 1px 0;
    }

    .product-header-signup h2 { margin: 0 28px 1em 28px }

    .product-header-signup .header-cta {
        margin: 2em 2em 0 2em;
        text-align: center;
    }

        .product-header-signup .header-cta p { margin: 1em 0 0 0 }

    .product-header-signup input[type="text"], .product-header-signup input[type="email"] { width: 100% }