﻿.top-account-control {
     z-index: 100;
}
.nav-header {
  font-size: 14px;
}
.navbar .brand {
  float: left;
  display: block;
  padding: 0px 20px 0px;
  margin-left: -20px;
  font-size: 36px;
  font-family: "Finger Paint";
  color: #d98873;
  line-height: 40px;
  text-shadow: 2px 2px 1px #fff;
  text-transform: capitalize;
  font-weight: 400;
}
body .zocial {
			margin: 8px 4px;
			font-size: 13px;
		}
.social {
    text-align: center
}

form label {
    font-size: 18px
}

label .disabled {
    color: darkgrey
}

/* styles from mvc default template*/
/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.homepage-header-title strong{
color: #ffffff;
font-family: "Finger Paint";
text-shadow: 2px 2px 0px #58807d;
}

.sub-slider-features {
  padding: 30px 0px 0px 0px;
  border-top: 0px solid #ebd6b9;
  border-bottom: 3px solid #ede5ad;
 /* background-color: #6c7065; */
  background: #a3a384 url(../images/sub-slider-bg.jpg) left top repeat;
  z-index: 999;
  position: relative;
  -webkit-box-shadow: 0px -10px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 3px 0px 0px #797d71;
  -moz-box-shadow: 0px -10px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 3px 0px 0px #797d71;
  box-shadow: 0px -10px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 0px #797d71;
}

.no-margin-span {
    margin-left: 0px
}

/* Landing page*/
.product-header-pricing .header-cta { margin-top: 2em }

        .product-header-pricing .header-cta p { margin: 1em 0 0 0 }

        .product-header-pricing .header-cta .big-button { line-height: 1.2em }

.product-header-signup {
    background: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    float: right;
    padding: 2em 0;
/*
    width: 100%;
*/
    -webkit-box-shadow: 0 0 10px #282e31;
    box-shadow: 0 0 10px #282e31;
}

    .product-header-signup form {
        background: #f8f9fa;
        padding: 2em 2em 1em 2em;
        border: 1px solid #d8e0e4;
        border-width: 1px 0;
    }

    .product-header-signup h2 { margin: 0 28px 1em 28px }

    .product-header-signup .header-cta {
        margin: 2em 2em 0 2em;
        text-align: center;
    }

        .product-header-signup .header-cta p { margin: 1em 0 0 0 }

    .product-header-signup input[type="text"], .product-header-signup input[type="email"] { width: 100% }
    
    /*end of landing page*/

    .header-notfound {
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  color: #58807d;
  font-family:"Finger Paint";
  text-shadow: 2px 2px 0px #fff;
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 2px 0px #95b7b5;
  -moz-box-shadow: 0px 2px 0px #95b7b5;
  box-shadow: 0px 2px 0px #95b7b5;
}