<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="center" bgcolor="#edede8" style="margin: 0;">
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 200;">
                <tr><td height="30"></td></tr>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" border="0" width="600">
                            <tr>
                                <td width="20%" height="12" bgcolor="#bb211a"></td>
                                <td width="20%" height="12" bgcolor="#4d1d1b"></td>
                                <td width="20%" height="12" bgcolor="#f7e397"></td>
                                <td width="20%" height="12" bgcolor="#fcfae1"></td>
                                <td width="20%" height="12" bgcolor="#be8c45"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #ffffff;">
                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="560" style="line-height: 20px;">
                            <tr>    			    
                                <td align="center" bgcolor="#ffffff" style="padding-bottom: 20px; padding-left: 20px; padding-right: 20px; padding-top: 30px;">
                                    <a href=""><img src='@(Model.baseUrl +"/images/Logos/")bp-logo.png' alt="Banana Planr" width="240" height="50" border="0" /></a>
                                </td>
                            </tr>
                            <tr><td width="520" style="border-bottom: 1px solid #be8d45;"></td></tr>
                            <tr>
                                <td height="20" bgcolor="ffffff"></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 20px;">
                                    <p>Hi @((Model.invitation.Parent.FirstName != null)? Model.invitation.Parent.FirstName: ""),</p>
                                    <p>You've been invited to an event "@(Model.invitation.Event.Name)".<br />Please click on the link below to access the invite.</p><br />
                                </td>
                            </tr>
                            <tr>
                                <td align="center"><a href='@(Model.baseUrl + "/Invite/" + Model.invitation.Uid)'>@(Model.baseUrl + "/Invite/" + Model.invitation.Uid)</a></td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 40px; padding-left: 20px;">
                                    <p><br /><br /> - The Banana Planr Team</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" border="0" width="600">
                            <tr>
                                <td width="20%" height="12" bgcolor="#be8c45"></td>
                                <td width="20%" height="12" bgcolor="#fcfae1"></td>
                                <td width="20%" height="12" bgcolor="#f7e397"></td>
                                <td width="20%" height="12" bgcolor="#4d1d1b"></td>
                                <td width="20%" height="12" bgcolor="#bb211a"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" style="font-size: 11px;">
                            <tr>
                                <td align="center">
                                    <p style="color: #727272; line-height: 18px;">
                                        You're receiving this email because you've signed up to 
                                        <a href="@(Model.baseUrl)">Banana Planr</a>. To stop receiving emails click 
                                        <a href='@(Model.baseUrl + "/unsubscribe/" + Model.invitation.Parent.Email)'>unsubscribe</a>.
                                    </p></td>
                            </tr>
                        </table>                
                    </td>
                </tr>          
                <tr>
                    <td height="40"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
