﻿@model ICollection<AuthenticationClientData>
@if (Model.Count == 0)
{
    <div class="message-info">
        <p>There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=252166">this article</a>
        for details on setting up this ASP.NET application to support logging in via external services.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <p>
            @foreach (AuthenticationClientData p in Model)
            {
                <button type="submit" name="provider" class="zocial @p.AuthenticationClient.ProviderName.ToLower()"
                    value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
            }

        

        </p>
    <p>
        <br /> 
        @if(ViewBag.SiteLoginFlag == true)
        {
        @Html.ActionLink("Don't have Facebook or Google ?", "Login", "Account", null, new { @class = "btn btn-info" })
        }
    </p>
      
    }
}
