﻿@using SchoolDuesLib
@using SchoolDuesLib.Models
@model BananaPlanerMVC.Models.RegisterExternalLoginModel

@{
    List<Timezone> timezones = new List<Timezone>
        {
            new Timezone
                {
                    DisplayName = "(select timezone)"
                }
        };
    timezones.AddRange(new SiteContext().Timezones.OrderBy(t => t.Order).ToList());
}

@Html.ValidationSummary(true)

<fieldset>
    <legend>Personal Information</legend>
    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)
    <br/>
    <p>@Html.ValidationMessageFor(m => m.FirstName)</p>
    
    <p/>
    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName)
    <br/>
    @Html.ValidationMessageFor(m => m.LastName)

    <p/>
    @Html.LabelFor(m => m.Timezone)
    @Html.DropDownListFor(m=>m.Timezone, new SelectList(timezones, "Id", "DisplayName"))
    <br/>
    @Html.ValidationMessageFor(m => m.Timezone)

    <p/>
    @Html.LabelFor(m => m.Email)
    @Model.Email
    <p>&nbsp;</p>
    <label for="Parent">
        @Html.CheckBoxFor(m => m.Parent) 
        Are you a parent?
    </label>
    @Html.ValidationMessageFor(m => m.Parent)
    <span class="help-block">Selecting this option will allow you to manage your children events</span>

    @Html.HiddenFor(m => m.ExternalLoginData)
    <br/>
    <input type="submit" value="Update" />
</fieldset>
