﻿@model SchoolDuesLib.Models.School

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Add School";

}

@using (Html.BeginForm())
{
        <h4>School Info</h4>
    <div class="white-card">
        <div class="row">
            <fieldset class="span4">
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City, new { @class = "input-medium", placeholder="Stamford" })
                @Html.ValidationMessageFor(m => m.City)

                @Html.LabelFor(m => m.State)
                @Html.TextBoxFor(m => m.State, null, new { @class = "input-mini", placeholder="CT" })
                @Html.ValidationMessageFor(m => m.State)

                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, null, new { @class = "input-large", placeholder="Westhill High School" })
                @Html.ValidationMessageFor(m => m.Name)
                @Html.HiddenFor(m => m.Id)

            </fieldset>
        </div>
    </div>
            if (Model != null && Model.Id > 0)
            {
                <input type="submit" value="Update" class="float-right" />
            }
            else
            {
                <input type="submit" value="Add" class="float-right" />
            }    
}
@section ScriptBottom{
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(document).ready(function() {
            $(".datefield").datepicker();
            $('#Name').autocomplete({
                focus: function(event, ui) {
                    $('#div-id').val(ui.item.Name);
                    return false;
                },
                select: function(event, ui) {
                    //add your own action on item select!
                    $('#Name').val(ui.item.Name);
                    $('#Id').val(ui.item.Id);
                    return false;
                },
                source: function(request, response) {
                    $.ajax({
                        url: '@Url.Action("AutocompleteSchoolsObj", "Student")',
                        dataType: "json",
                        data: {
                            term: request.term,
                            city: $('#City').val(),
                            state: $('#State').val(),
                            minLength: 1,
                            test: 4
                        },
                        success: function(data) {
                            response(data);
                        }
                    });
                }
            }).data("ui-autocomplete")._renderItem = function(ul, item) {
                return $("<li>")
                  .append("<a>" + item.Name + "</a>")
                  .appendTo(ul);
            };
        });
    </script>
}