﻿@model BananaPlanerMVC.Models.RegisterExternalLoginModel

@{
    ViewBag.Title = "Edit Personal Information";
}

<section class='section-wrapper'>
    <div class='container'>
        <div class='row'>
            <div class='span6 offset3'>
                <div class='white-card extra-padding'>
                    @using (Html.BeginForm("Edit", "Account"))
                    {
                        @Html.AntiForgeryToken();
                        Html.RenderPartial("_PersonalInformationEditPartial", Model);
                    }
                </div>
            </div>
        </div>
    </div>
</section>


@section ScriptBottom
{
    @Scripts.Render("~/bundles/jqueryval")
}
