﻿@model BananaPlanerMVC.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "External Account Association";
}

<section class='section-wrapper'>
    <div class='container'>
        <div class='row'>
            <div class='span6 offset3'>
                <div class='white-card extra-padding'>
                    <legend>Associate your @ViewBag.ProviderDisplayName account.</legend>
                    <p>
                        You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
                        Please enter a additional information for this site below and click the Confirm button to finish
                        logging in.
                    </p>
                    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        Html.RenderPartial("_PersonalInformationEditPartial", Model);
                    }
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
