﻿@model BananaPlanerMVC.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<style>
    h3 { width:100%; text-align:center; border-bottom: 4px solid #ff0000; line-height:0.1em; margin:10px 0 20px; color:red;} 
h3 span { background:#fff; padding:0 10px; color:red; font-family:Arial; font-size:large;}
</style>
<section class='section-wrapper create-account-page-w'>
    <div class='container'>
        <div class='row'>
            <div class='span4 offset4'>
                <div class='white-card extra-padding'>
                    <section class="social" id="socialLoginForm">
                        <h4>Use one of the services below to login</h4>
                        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
              <h3><span>OR</span></h3>
                  <p>
                       <strong>Login using your username and password on this site</strong>
                  </p>

                @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset id="login">
        <legend>Login</legend>
        <ul class="unstyled">
            <li >
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li >
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
               <label for="RememberMe">
                @Html.CheckBoxFor(m => m.RememberMe) 
                Remember Me?
                </label>
               
            </li>
        </ul>
        <input type="submit" value="Login" class ="btn-info" />
    </fieldset>
}
                      </div>
          <p>   
              Don't have an account?  @Html.ActionLink("Sign Up here!", "Register", "Account", null)
              </p> 
            </div>
        </div>
    </div>
</section>
