﻿@using BananaPlanerMVC.Controllers
@using SchoolDuesLib.Utils
@model BananaPlanerMVC.Models.FullProfileModel

@{
    ViewBag.Title = "My Account";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="white-card">
    <div class="row">
        <div class="span9">
            <h4>Personal Information &nbsp;&nbsp; </h4>
            @Html.ActionLink("Edit", "Edit", null, new {@class="btn"})
            <br/>
            @Model.LoginModel.FirstName @Model.LoginModel.LastName<br/>
            @Model.LoginModel.Email
        </div>
        &nbsp;
    </div>
</div>
@if (Roles.IsUserInRole(Constants.ParentRoleName))
{
<div class="white-card">
    <h4>Children</h4>
    @if(@Model.Children != null)
    {
        foreach (var child in @Model.Children)
        {
            <h5>@Html.ActionLink(child.FirstName + " " + child.LastName, "Update", "Student",  new {Id = @child.Id}, null) 
                            </h5>
@*
            <div class="row">
                <label class="span1">DOB</label>
                <label class="span1">
                    @if (child.DateOfBirth != null)
                    {
                    @child.DateOfBirth.Value.ToShortDateString()
                    }
                </label>
                <label class="span1">Teacher:</label>
                <label class="span2">@child.Class.Teacher</label>
                <label class="span1">Grade:</label>
                <label class="span2">@child.Class.Grade</label>
            </div>
            <div class="row">
                <label class="span1">City:</label>
                <label class="span2">@child.City</label>
                <label class="span1">State:</label>
                <label class="span1">@child.State</label>
                <label class="span1">School:</label>
                <label class="span2">@child.Class.School.Name</label>
            </div>
            <div class="row">
                &nbsp;
            </div>
*@
        }
    }
    @Html.ActionLink("Add Child", "Update", "Student", null, new {@class="btn"})
</div>
}
<div class="white-card">
    <h4>Schools</h4>
    In addition you can specify which schools you will create events for. You can already create events for a school where you children are assigned.
    <p/>
    @foreach(var school in Model.LoginModel.UserSchools)
    {
        <p>@school.Name &nbsp;&nbsp;&nbsp;@Html.ActionLink("remove","RemoveSchool", "Account", new {Id = school.Id}, null)</p>
    }
    @Html.ActionLink("Add School", "AddSchool", "Account", null, new {@class="btn"})
</div>
<div class="white-card">
    <h4>Payment Processing</h4>
    <label>Dwolla accepts payments from your bank account rather than credit cards thus saving money for your school by not paying a credit card processing fee.</label>
    @if(Model.LoginModel.PaymentAccounts.Any())
    {
    @:Dwolla Account Id: @Model.LoginModel.PaymentAccounts.First().AccountId<br/>
        @Html.ActionLink("Edit", "Update", "Payments", null, new {@class="btn"})
    }
    else
    {
        @Html.ActionLink("Add Dwolla Information","Update", "Payments", null, new {@class="btn"})
    }
</div>