﻿@model BananaPlanerMVC.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
 @if (ViewBag.ShowMessage)
{
<h2>Account creation was successfull!</h2> 
    <p>Verification email has been sent you. Please verify and continue registration. Thank you.</p>
}
else
{
 
<section class='section-wrapper'>
    <div class='container'>
        <div class='row'>
            <div class='span12'>

                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                   
                    <h2>Create a new account.</h2>
                </hgroup>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <fieldset>
                        <legend>Registration Form</legend>
                        <ul class="unstyled">
                            <li>
                                @Html.LabelFor(m => m.UserName)
                                @Html.TextBoxFor(m => m.UserName)
                            </li>
                            <li>
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password)
                            </li>
                            <li>
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword)
                            </li>
                        </ul>
                        <input type="submit" value="Register" />
                    </fieldset>
                }
                    
                <p>
                    Do you want to avoid remembering another password? Login with FaceBook or Google
                     @Html.Action("ExternalLoginsList", "Account", new {ViewBag.ReturnUrl})
                </p>
                
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</section>
 }