﻿@{
    ViewBag.Title = "Verify";
}

<h2>Verify</h2>

@if (ViewBag.IsVerified)
{
    <h2>Your account has been verified</h2> 
}
else
{
     <h2>Your account cannot be verified</h2>@* @Html.ActionLink("Register", "Register", "Account")
    <div style="margin-top:15px;">
        If you have already registered before, please enter your email again for new verification code.<br />
        <form action="@Url.Content("~/account/resendverification")" method="post" id="frmVerifyEmail">
        <input type="text" id="Email" style="width:200px"/><br /><span class="error" style="font-weight:normal">Check email format</span>
        <br />
        <input type="button" class="button1" value="Submit" onclick="verifyEmail()"/>
        </form>
    </div>*@
}
