﻿@model SchoolDuesLib.Models.UserPaymentAccount

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Edit Payment Information";
}


@using (Html.BeginForm("Update","Payments"))
{
       @Html.Hidden("Id", 0)
        <h4>Dwolla Information</h4>
    <div class="white-card">
        <div class="row">
            @Html.ValidationSummary(true)
            <fieldset class="span5">
                @Html.LabelFor(m => m.Key)
                @Html.TextBoxFor(m => m.Key, null, new {@class="span5"})
                @Html.ValidationMessageFor(m => m.Key)

                @Html.LabelFor(m => m.Secret)
                @Html.TextBoxFor(m => m.Secret, null, new {@class="span5"})
                @Html.ValidationMessageFor(m => m.Secret)

                @Html.LabelFor(m => m.AccountId)
                @Html.TextBoxFor(m => m.AccountId, null, new {placeholder="xxx-xx-xxxx"})
                <br />@Html.ValidationMessageFor(m => m.AccountId)
                @Html.HiddenFor(m => m.Id)

            </fieldset>
        </div>
    </div>
            if (Model != null && Model.Id > 0)
            {
                <input type="submit" value="Update" class="float-right" />
            }
            else
            {
                <input type="submit" value="Add" class="float-right" />
            }    
}
@section ScriptBottom
{
    @Scripts.Render("~/bundles/jqueryval")
}
