﻿@model SchoolDuesLib.Models.Student

@{
    ViewBag.Title = "Add Child";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@using (Html.BeginForm())
{
    if (Model != null)
    {
    @Html.HiddenFor(m=>m.Id)
    }
    else
    {
    @Html.Hidden("Id",0)
    }
@*
    @Html.Hidden("Class.Id",0)
   @Html.HiddenFor(m=>m.SchoolId)
   @Html.HiddenFor(m=>m.Class.Id)
*@
   if(Model != null && Model.Id > 0)
     {
    <h3>Edit Child</h3>
     }
   else
   {
    <h3>Add Child</h3>
   }
    @Html.ValidationSummary()
    <div class="white-card">
        <div class="row">
            <div class="span4">
                <fieldset>
                    @Html.LabelFor(m => m.StudentFirstName)
                    @Html.TextBoxFor(m => m.StudentFirstName)<br/>
                    @Html.ValidationMessageFor(m => m.StudentFirstName)
                </fieldset>
                <fieldset>
                    @Html.LabelFor(m => m.StudentLastName)
                    @Html.TextBoxFor(m => m.StudentLastName)<br/>
                    @Html.ValidationMessageFor(m => m.StudentLastName)
                </fieldset>
            </div>
            <div class="span4">
                <fieldset>
                    @Html.LabelFor(m => m.DateOfBirth)
                <div class="input-append date" id="eventDate"  data-date-format="mm/dd/yyyy" data-date="01-01-2001"> 
                    @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "input-small", size=16 })
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                    @Html.ValidationMessageFor(m => m.DateOfBirth)
                </fieldset>
            </div>
        </div>
    </div>
@*
    <div class="white-card">
        <div class="row">
                <fieldset class="span4">
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City)
                    @Html.ValidationMessageFor(m => m.City)

                    @Html.LabelFor(m => m.State)
                    @Html.TextBoxFor(m => m.State)
                    @Html.ValidationMessageFor(m => m.State)

                    @Html.LabelFor(m => m.Class.School.Name)
                    @Html.TextBoxFor(m => m.Class.School.Name)
                    @Html.HiddenFor(m => m.Class.SchoolId)
                    @Html.ValidationMessageFor(m => m.Class.School.Name)
                </fieldset>
                <fieldset class="span4">
                    @Html.LabelFor(m => m.Class.Grade)
                    @Html.DropDownListFor(m => m.Class.Grade, new SelectList(ViewBag.Grades, "Value", "Text"))
                    @Html.ValidationMessageFor(m => m.Class.Grade)

$1$
                    @Html.LabelFor(m => m.Class.Teacher)
                    @Html.TextBoxFor(m => m.Class.Teacher)
                    @Html.ValidationMessageFor(m => m.Class.Teacher)
#1#
                </fieldset>
        </div>
    </div>
*@
        <div class="row">
   @if(Model != null && Model.Id > 0)
   {
            <input type="submit" value="Update" class="float-right" />
   }
   else
   {
            <input type="submit" value="Add" class="float-right" />
   }    
        </div>
}
@section ScriptBottom{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstraper-datetime")
    @Styles.Render("~/Content/bootstraper-datetime")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#eventDate").datepicker();
        });
    </script>
@*
    <script type="text/javascript">
        $(document).ready(function () {
            $("#eventDate").datepicker();
            $('#Class_School_Name').autocomplete({
                focus: function( event, ui ) {
                    $('#div-id').val( ui.item.Name );
                    return false;
                },
                select: function( event, ui ) {
                    //add your own action on item select!
                    $('#Class_School_Name').val(ui.item.Name);
                    $('#SchoolId').val(ui.item.Id);
                    return false;
                },
                source: function(request, response) {
                    $.ajax({
                        url: '@Url.Action("AutocompleteSchoolsObj")',
                        dataType: "json",
                        data: {
                            term: request.term,
                            city: $('#City').val(),
                            state: $('#State').val(),
                            minLength:1,
                            test: 4
                        },
                        success: function(data) {
                            response(data);
                        }
                    });
                }
            }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                     return $( "<li>" )
                       .append("<a>" + item.Name + "</a>")
                       .appendTo( ul );
                 };
        });
    </script>
*@
}

