﻿@{
    ViewBag.Title = "About Us";
}
<section class='section-wrapper'>
    <div class='container'>
        <div class='row'>
            <div class='span12'>
                <div class="hero-unit">
                    <h3 class='section-header'>About BananaPlanr</h3>
                    <p>If necessity is the mother of all inventions, then BananaPlanr has to be the mother's assistant.</p>
                    <p>As busy parents of school-age kids, we're overwhelmed by the number commitments or events our kids have.  We would love to be part of most of them.  Sometimes we're even happy if we know when and where they're happening. The thing is that most of time we're not in the email chains, in too many email chains (very common), or simply the notifications are going to the wrong location. Compounding the issue is the fact that these days it seems as though our kids' schedule is more active than our own.  The bottom line is that, as parents, we just feel that we're always one step behind the curve when it comes to our kids' schedule. </p>
                    <p></p>
                    <p>We're pretty sure other parents feel the same way too. It's hard enough managing our own personal and business schedules.  Now, try to manage your own, plus 3 other kids'.  Trust us, it's a full time job!  We need an assistant.
                    <p>That's where BananaPlanr comes in. Call it your personal assistant. Call it your little elf. Call it the little reminder string on your finger (or whole hand). BananaPlanr simply helps you manage your kids' busy life while helping you stay one step ahead.</p>
                    <p></p>
                    <blockquote><p><h3>One place to track your kids' events, make monetary contributions, and even volunteer with one click!</h3></p></blockquote>
                    <p></p> 
                    <p>Think about all those times that you remembered about an event the day after; that time you wanted to volunteer to bring something in or even sign up to help out.  Unfortunately, you forgot about the event,  you don't know when or where it is, or what's left to bring for the classroom party. Or when you're child asks for $6 dollars for a book fair right as they're getting on the bus. Now, imagine you had more than one child! That's all about to change with BananaPlanr.</p>
                    <p></p>
                    <p>Imagine having one screen-a dashboard- that "catches" all you're kids' school and non-school-related events and commitments and where you can take action without ransacking your mailbox for that 'elusive' email.  Think of it as a kid command center and it has a name. It's called <a href="index.html" class="brand">BananaPlanr</a> </p>
                    <div class="section-action">
                        @Html.ActionLink("Sign Up for FREE", "Login", "Account", null, new {@class="btn btn-large btn-danger"})
@*                        <a href="register.html" class="btn btn-large btn-danger" align="center">Sign Up for FREE</a>*@
                    </div>  
                </div>                   
            </div>
                 
        </div>
    </div>
</section>