﻿@{
    ViewBag.Title = "Contact Us";
}
            <section class='section-wrapper stripped'>
              <div class='container'>
                <h3 class='section-header'>Contact Us</h3>
                <div class='row'>
                  <div class='span4'>
                    <div class='blog-side-text-block widget-filled widget-yellow'>
                      <h3>Contact Information</h3>
                      <ul class="unstyled big-iconed-tips">
                        <li>
                          <i class='icon-map-marker'></i>
                          Address: 4 Penn Plaza, New York, NY
                        </li>
                        <li>
                          <i class='icon-phone-sign'></i>
                          Phone: (212) 465-3244
                        </li>
                        <li>
                          <i class='icon-envelope-alt'></i>
                          Email: info@website.com
                        </li>
                        <li>
                          <i class='icon-globe'></i>
                          Website: www.example.com
                        </li>
                        <li>
                          <i class='icon-facebook-sign'></i>
                          Facebook: facebook.com/example
                        </li>
                        <li>
                          <i class='icon-twitter-sign'></i>
                          Twitter: twitter.com/example
                        </li>
                      </ul>
                      <p>Sed euismod, metus sed congue rutrum, justo elit malesuada quam, id pulvinar velit massa et justo.</p>
                    </div>
                  </div>
                  <div class='span8'>
                    <div class="white-card extra-padding">
                    <form class='form-transparent no-margin-bottom' id='form-add-comment'>
                      <fieldset>
                        <div class='row-fluid'>
                          <div class='span12'>
                            <legend>Complete the form to contact us</legend>
                            <div class='controls controls-row'>
                              <input class='search-input span6' placeholder='Your name' type='text'>
                              <input class='search-input span6' placeholder='Your email' type='text'>
                            </div>
                            <div class='controls controls-row'>
                              <textarea class='span12' placeholder='Your message' rows='6'></textarea>
                            </div>
                            <div class='form-actions'>
                              <button class='btn btn-small'>Submit Message</button>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </section>
