﻿@{
    ViewBag.Title = "F.A.Q.";
}
   <section class='section-wrapper'>
       <div class='container'>
           <div class='row'>
               <div class="span9">
                   <h3 class="section-header">Frequently Asked Questions</h3>
                   <div class="accordion" id="accordion">
                       <div class="accordion-group">
                           <div class="accordion-heading">
                               <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">
                                   Why are the only two options to sign up Facebook and Google?
                               </a>
                           </div>
                           <div class="accordion-body collapse" id="collapseOne">
                               <div class="accordion-inner">
                                   We subscribe to the idea of KIS.  Keep it simple.  
                                   Why have you remember another username and password to login to BananaPlanr?  
                                   We integrated our system with Facebook and Google (Gmail or Google Apps) to make signing up 
                                   and login in easier. Even if you don't want to use Gmail you can still <a href="https://accounts.google.com/signup">create a Google account</a> for 
                                   any of your emails (e.g. <em>john.smith@mywork.com</em>) and use it to login to thousands of 
                                   websites that support Google authentication.
                               </div>
                           </div>
                       </div>
                       <div class="accordion-group">
                           <div class="accordion-heading">
                               <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
                                   What is Dwolla, and why is Paypal not an option?
                               </a>
                           </div>
                           <div class="accordion-body collapse" id="collapseTwo">
                               <div class="accordion-inner">
                                   <a href="http://dwolla.com">Dwolla</a> is a payment processor similar to Paypal, but more cost effective, especially for school-related events.  Dwolla, however, is free for any payments under $10, and 25¢ per transactions greater than $10.  You can't beat that.  
                               </div>
                           </div>
                       </div>
                       <div class="accordion-group">
                           <div class="accordion-heading">
                               <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">
                                   Is BananaPlanr free?
                               </a>
                           </div>
                           <div class="accordion-body collapse" id="collapseThree">
                               <div class="accordion-inner">
                                   COMPLETELY!  We don't make a penny off any transaction.
                               </div>
                           </div>
                       </div>
                       <div class="accordion-group">
                           <div class="accordion-heading">
                               <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">
                                   How secure is BananaPlanr?
                               </a>
                           </div>
                           <div class="accordion-body collapse" id="collapseFour">
                               <div class="accordion-inner">
                                   As far as your personal contact information. We don't share it with anyone and we don't spam.  In regards to your financial information, since we don't process any payments ourselves, we don't store any of that info on our site.
                               </div>
                           </div>
                       </div>                                         
                       <div class="accordion-group">
                           <div class="accordion-heading">
                               <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseFive">
                                   How do I get support using BananaPlanr?
                               </a>
                           </div>
                           <div class="accordion-body collapse" id="collapseFive">
                               <div class="accordion-inner">
                                   We help out wherever we can.  If you can't find your answers in our <a href="http://help.bananaplanr.com">help page</a>, please feel free click on the tab all the way on the right side labeled 'Feedback' and we'll get back to you within 24hrs.
                               </div>
                           </div>
                       </div>
                       <div class="accordion-group">
                           <div class="accordion-heading">
                               <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseSix">
                                   I love BananaPlanr, but I have a few suggestions.  Where can I do it? 
                               </a>
                           </div>
                           <div class="accordion-body collapse" id="collapseSix">
                               <div class="accordion-inner">
                                   We love it too, thanks.  We love feedback.  Please feel free click on the tab all the way on the right side labeled 'Feedback' and we'll see what we can do.
                               </div>
                           </div>
                       </div>      
                   </div>
               </div>
               <div class='span3'>
                   <div class='blog-side-text-block widget-filled widget-yellow'>
                       <h3>Some Tips:</h3>
                       <ul class='big-iconed-tips'>
                           <li>
                               <i class='icon-credit-card'></i>
                               Registration is free
                           </li>
                           <li>
                               <i class='icon-lock'></i>
                               100% Secured
                           </li>
                           <li>
                               <i class='icon-globe'></i>
                               Accessible from anywhere
                           </li>
                           <li>
                               <i class='icon-check'></i>
                               Easy to use
                           </li>
                           <li>
                               <i class='icon-cogs'></i>
                               Lots of time-saving features
                           </li>                        
                       </ul>
                       <p>Participating in your kids' activities has never been easier.</p>
                   </div>
               </div>
               <div class='span2'>
                   <i class='icon-group'></i>
                   <a href="http://help.bananaplanr.com">Need Help?</a>
                    
               </div>
           </div>
       </div>
   </section>

