﻿@{
    ViewBag.Title = "How It Works";
}
            <section class='section-wrapper stripped'>
              <div class='container'>
               <h3 class='section-header'>How <strong>BP </strong>works</h3>
               
            <ul class="breadcrumb">
            <li><a href="#events">Events</a></li>
            <li><a href="#dashboard">Dashboard</a></li>
            <li><a href="#calendar">Kid Calendar</a></li>
            </ul>
               
                <div class='row'><div id="events"></div>
<!----Divider---->				
                  <div class='span12'>
 					<div class="well">
            		<h3>Events</h3>
            		<p>Create private events for you and your kids, or your can invite others to the event.  Even invite others to manage the event with you.</p>
                	</div>
                  </div>
               
<!----Divider---->   
                  
                  <div class='span3'>
                    <div class='white-card'>
                    <h5>Step 1</h5>
                      <p>Create an event. </p>
                      <div class="img-w">
                        <img alt="create" src="/images/hiw/bp-create.png">
                      </div>
                      
                    </div>
                  </div>
                  <div class='span8'>
                    <div class='white-card'>
                      <div class="img-w">
                      <h5>Step 2</h5>                      
                      <p>Do you need to collect $$$$, supplies, and volunteers?</p>
                        <img alt="questions" src="/images/hiw/questions.png">
                      </div>
                      
                      </div>
                  </div>
                  <div class='span8'>
                    <div class='white-card'>
                      <div class="img-w">
                      <h5>Step 4</h5>
                      <p>Invite people.</p><div id="dashboard"></div>
                        <img alt="invite" src="/images/hiw/invite.png">
                      </div>
                      
                    </div>
                  </div>
                  
                  
                 </div>
 
 <!----Divider---->
 				<div class='row'>
                  <div class='span12'>
 					<div class="well">
            		<h3>Dashboard</h3>
                	</div>
                  </div>
                </div>
<!----Divider---->

                  
   <!--Dashboard Section-->               
                  <div class='row'>
                  <div class='span5'>
                  <div class='blog-side-text-block widget-filled widget-yellow'>                      
                       
                       <h5><span class="label">For Your Kids</span></h5>
                       <ul>
                       <li>See where your kids (and you) are supposed to be at a glance.</li>
                       <li>No more sifting through emails to see if you responded.
                       <li>No more dealing with email chains with updates to events.</li>
                       </ul>
                       <p></p>
                       <p></p>
                       <h5><span class="label">For Your Events</span></h5>
                       <ul>
                	   <li>Track every aspect of the events you create; including who paid and who didn't, who volunteered and for what time slots, and even track who volunteered to bring the juice boxes for the party.</li>
                	   <li>No more sifting through emails to see who responded wondering, who paid, or spreadsheets to track event details.</li>
                	   <li>Update event details without overwhelming parents with a million emails.</li>
                	   </ul>
                  </div>
                  </div>              
                  <div class='span7'>
                    <div class='white-card'>
                      <p></p>
                      <div class="img-w">
                        <img alt="Photo-card" src="/images/hiw/dashboard.png">
                      </div><div id="dashboard"></div><div id="calendar"></div>
                      
                    </div>
                  </div>
				</div>
				
<!----Divider---->
 				<div class='row'>
                  <div class='span12'>
 					<div class="well">
            		<h3>Kid Calendar</h3>
                	</div>
                  </div>
                </div>
<!----Divider---->
				
<!-----Kid Calendard Section---->
				<div id="calendar"></div>
				  <div class='row'>
                  <div class='span5'>
                  <div class='blog-side-text-block widget-filled widget-yellow'>                      
                       <h5><span class="label">Calendar For Each Kid</span></h5>
                       <ul>
                       <li>See where your kids (and you) are supposed to be at a glance.</li>
                       <li>No more sifting through emails to see if you responded.
                       <li>No more dealing with email chains with updates to events.</li>
                       </ul>
                       <p></p>
                  </div>
                  </div>              
                  <div class='span7'>
                    <div class='white-card'>
                      <div class="img-w">
                        <img alt="Photo-card" src="/images/hiw/calendar.png">
                      </div>
                      <p></p>
                    </div>
                  </div>
				</div>                             

                <div class='row'>
                  <div class="span12">
                      <div class="section-action">
                          @Html.ActionLink("Ok, I'm ready to try it", "Login", "Account", null, new {@class="btn btn-danger btn-large"})
                      </div>
                  </div>
                                    
                </div>
              </div>
            </section>
        