﻿@{
    ViewBag.Title = "Home";
}
            <div class='carousel slide over-something' id='homepage-carousel'>
              <div class='carousel-inner slider-w'>
                <div class='active item'>
                  <div class='container'>
                    <h1 class='slider-header'>Your Kids Have a Busy Schedule Too</h1>
                      <h2 class='slider-sub-header homepage-header-title'><strong>BananaPlanr</strong> Helps You Stay Involved.</h2>
                      @Html.ActionLink("Sign Up for FREE", "Login", "Account", null, new {@class="btn btn-large btn-danger"})
                     <div class='slider-browsers-w clearfix'>
                      <div class='slider-browser slider-browser-left hidden-phone' data-position-bottom='-8%'>
                          <img alt="Browser-window-1" src="@Url.Content("~/Images/Venera/kid-left.png")" />
                      </div>
                      <div class='slider-browser slider-browser-center' data-position-bottom='-9%'>
                        <img alt="Browser-window-2" src="@Url.Content("~/Images/Venera/kid-center.png")" />
                      </div>
                       <div class='slider-browser slider-browser-right hidden-phone' data-position-bottom='-8%'>
                        <img alt="Browser-window-3" src="@Url.Content("~/Images/Venera/kid-right.png")"/>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class='sub-slider-features'>
              <div class='container'>
                <div class='row'>
                  <div class='span4'>
                    <div class='info-bullet'>
                      <!--<i class='icon-calendar'></i>-->
                      <h5>Kid Calendar</h5> 
                      <p>Create a calendar for each of your kids and see where everyone is supposed to be at a glance. </p>
                         <a href="#calendar" button class="btn btn-info" type="button">More Info</a>
                    </div>
                  </div>
                  <div class='span4'>
                    <div class='info-bullet'>
                     <!-- <i class='icon-money'></i>-->
                      <h5>Make Payments</h5>
                      <p>Make secure payments for class trips, make donations, or contribute to teacher gifts.</p>
                      <a href="#pay" button class="btn btn-info" type="button">More Info</a>
                  </div>
                  </div>
                  <div class='span4'>
                    <div class='info-bullet'>
                      <!--<i class='icon-check'></i>-->
                      <h5>Volunteer</h5>
                      <p>With 1 click sign up to volunteer at school book fairs, bake sales, fund raisers, or even sign up to bring juice boxes for the classroom party.</p>
                      <a href="#volunteer" button class="btn btn-info" type="button">More Info</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


  
<!--Added sections for each feature -->

             <section class='section-wrapper stripped'>
              <div class='container'>
                <div class='row row-separated'>
                 <div class='span7'>
                    <div id="calendar"></div>
                     <h3 class='section-header'>Kid Calendar</h3>
                    <p class='section-paragraph'>Never miss another of your kids' activities again. Accept invites from school teachers, classroom parents, coaches, and other event organizers.  The event will automatically appear on your child's calendar and master calendar in the right color for each kid.  The event can also show up in your personal or business calendar.  Make sure their next game in on your schedule with one click.</p>
                  </div>
                  <div class='span4'>
                   <img alt="Browser-window-2" src="@Url.Content("~/Images/Venera/browser-window-calendar.png")"/>
                   <!--bookmark for Payment Section--> 
                   <div id="pay"></div>
                  </div>
                </div>
              </div>                
             </section>
             <section class='section-wrapper stripped'>
              <div class='container'>
                <div class='row row-separated'>
                  <div class='span7'>
                   <h3 class='section-header'>Make Payments</h3>
                    <p class='section-paragraph'>How often have you forgotten to send money for a class trip, book fair, a teacher's gift or had exact change to give your kids?  With BananaPlanr it's easy to send money for those <strong>"oh oh, I forgot to send money"</strong> situations.  Send money securely and track how your money is being spent and who's spending it.</p>
                  </div>
                 <div class='span4'>
                    <img alt="Browser-window-2" src="@Url.Content("~/Images/Venera/browser-window-payment.png")" />
                  </div>
                </div>
              </div>
             </section>
<section class='section-wrapper stripped'>
              <div class='container'>
                <div class='row row-separated'>
                  <div class='span7'>
                    <div id="volunteer"></div>
                    <h3 class='section-header'>Volunteer</h3>
                    <p class='section-paragraph'>With BananPlanr we make it easy for you to stay one step ahead of your kids' busy schedule and even participate in it. You can one-click register for parent-teacher meetings at a specific time slot, volunteer for school fairs, or chaperone a class trip. How often are teachers looking for supplies or materials and by the time you remember, it's too late.  Now, you can chose what you want to bring with one click, and eliminate duplicates.</p>
                  </div>
                  <div class='span4'>
                    <img alt="Browser-window-2" src="@Url.Content("~/Images/Venera/browser-window-volunteer.png")" />
                  </div>
                </div>
              </div>
</section>
<!---END MAIN FEATURE SECTION-->

                    
          <section class='section-wrapper'>
             <div class='container'>
               <div class='row'>
                  <div class="span12">
                    <div class="section-action">
                      @Html.ActionLink("Sign Up for FREE", "Login", "Account", null, new {@class="btn btn-large btn-danger"})
                    </div>
                  </div>
               </div>             
             </div>
          </section>
    </div>
