﻿@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>BananaPlanr Homepage</title>
  <meta name="Calendar Management for Kids" content="">
  <meta name="viewport" content="width=device-width">
  <link href="/Content/themes/venera/theme_venera.css" media="all" rel="stylesheet" type="text/css" />
@*
  <link href="/Content/landing.css" media="all" rel="stylesheet" type="text/css" />
*@
  <link href="/Content/venere-extend.css" media="all" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Abel:400|Oswald:300,400,700|Finger Paint:400" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="fb-root"></div>
<script src="/Scripts/jquery-2.0.0.min.js" type="text/javascript"></script>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
            <![endif]-->
        
            <header id='header'>
              <div class='navbar navbar-fixed-top'>
                <div class='navbar-inner'>
                  <div class='container'>
                    <div class='navbar brand'>BananaPlanr</div>
                    <div class='nav-collapse subnav-collapse collapse pull-right' id='top-navigation'>
                        <ul class='nav'/>
                    </div>                                           
                  </div>
                </div>
              </div>
            </header>
 
 <div class='carousel slide over-something' id='homepage-carousel'>
              <div class='carousel-inner slider-w'>
                <div class='active item'>
                  <div class='container'>
                    <h1 class='slider-header'>Your Kids Have a Busy Schedule Too</h1>
                    <h2 class='slider-sub-header homepage-header-title'><strong>BananaPlanr</strong> Helps You Stay Involved.</h2>                                                        
                      <div class='span6'>
                        <div class='row row-separated'></div>
                        <div class='row row-separated'></div>
                        <div class='row row-separated'></div>
                        <img alt="Browser-window-1" src="/Images/kids-coming-soon.png"/>
                      </div>   
                  <div class="span4">
                  			
				<div class='not-found-solutions btn-group'>               
                      <a href="http://facebook.com/bananaplanr" class="btn"><i class='icon-facebook-sign'></i>
                        Find us on facebook
                      </a> 
                    <br class="visible-tablet"/>
                    <a href="http://twitter.com/bananaplanr" class="btn"><i class='icon-twitter-sign'></i>
                        Follow us on twitter
                      </a>                      
                </div>                   
                      <div class="product-header-signup span4">					
						<h3><span>When can I start planning?</span></h3>						
						<form action="http://bananaplanr.us7.list-manage1.com/subscribe/post?u=06c133fb3a80b93c6954248ce&amp;id=479a07a227" method="post" id="signup-form">
							<p><label for="signup-name">Name:</label>
							<input type="text" name="FNAME" id="signup-name" /></p>					
							<p><label for="signup-email">Email Address:</label>
							<input type="email" name="EMAIL" id="signup-email" /></p>							
							<div class="header-cta">
						<p class="clear"><input type="submit" value="Notify Me " name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger btn-large"></p>						 
							<p class="text-success">no spam, pinky swear!</p>						 						
						</div>
                            <p>
                                <div class="fb-like hidden-tablet" data-href="http://facebook.com/bananaplanr" data-send="false" data-width="250" data-show-faces="false" data-font="segoe ui"></div>
                                <div class="fb-like visible-tablet" data-href="http://facebook.com/bananaplanr" data-send="false" data-layout="button_count" data-show-faces="false" data-font="segoe ui"></div>
                            </p>
						</form>						
					</div>												
						 <!-- end header-cta -->
					</div> <!-- end product-header-signup -->    
                    <div class='row row-separated'></div>                   
                     </div>                                                      
                 </div><div class='row row-separated'></div>
              </div>
          </div>
          
            <div class='sub-slider-features'>
              <div class='container'>
                <div class='row'>
                  <div class='span4'>
                    <div class='info-bullet'>
                      <!--<i class='icon-calendar'></i>-->
                      <h5>Kid Calendar</h5>
                      <p>Create a calendar for each of your kids and see where everyone is supposed to be at a glance. </p>
                         
                    </div>
                  </div>
                  <div class='span4'>
                    <div class='info-bullet'>
                     <!-- <i class='icon-money'></i>-->
                      <h5>Make Payments</h5>
                      <p>Make secure payments for class trips, make donations, or contribute to teacher gifts.</p>
                      
                  </div>
                  </div>
                    <div class='span4'>
                        <div class='info-bullet'>
                            <!--<i class='icon-check'></i>-->
                            <h5>Volunteer</h5>
                            <p>Volunteer at school book fairs, bake sales, or even sign up to bring juice boxes for the classroom party.</p>
                      
                        </div>
                    </div>
                </div>
              </div>
            </div>  
    </div>           <!--THIS DIV prevents footer from expanding-->
             

            <footer>
              <div class='deep-footer'>
                <div class='container'>
                  <div class='row'>
                    <div class='span6'>
                      <div class='copyright'>&copy; 2013 BananaPlanr</div>
                    </div>
                    <div class='span6'>
                      <ul class='footer-links'>
                          <li>
                              <a href="http://facebook.com/bananaplanr"><div class='info-bullet'>
                                                                            <i class='icon-facebook'>
                                                                            </i></div></a></li>
                        <li>
                         <a href="http://twitter.com/bananaplanr"><div class='info-bullet'>
                          <i class='icon-twitter'>
                        </i></div></a></li>
                       </ul>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
            <script src="/Scripts/venera/bootstrap.js" type="text/javascript"></script>
            <script src="/Scripts/venera/prettify.js" type="text/javascript"></script>
            <script src="/Scripts/venera/main.js" type="text/javascript"></script>
          </body>
          </html>