﻿@{
    ViewBag.Title = "Terms of Service";
}
  <section class='section-wrapper'>
              <div class='container'>
                <div class='row'>
                  <div class='span8'>
                    <div class="hero-unit">
                       <h3 class='section-header'>Terms of Service</h3>
                       <p> All the information on this website is published in good faith and for general information purpose only. We do not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information on our website is strictly at your own risk and we will not be liable for any losses and damages in connection with the use of our website.</p>

<p>From our website, you can visit other websites by following hyperlinks to these sites. While we strive to provide only links to useful and ethical websites, we have no control over the content and nature of these sites and the links to other websites do not imply a recommendation for all the content found on these sites.</p>

<p>Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control.</p>

 

<h4>Privacy Policy</h4>
<p>You may give us personal information about you, such as your name, your contact email and other contact details on various places on our website. This privacy policy describes how we collect and use your personal information.</p>
<p></p>
<p><h5>How and where we collect personal information:</h5></p>
<p></p>
- electronic newsletters<br/>
- discussion boards and forums<br/>
- chats and blogs<br/>
- customer registration<br/>
- etc …
<br/>
<p><h5>How we use your personal information:</h5></p>
<p></p>
The information you give us is absolute safe with us. We will never rent, sell, share or otherwise disclose your personal information to third parties. We might contact you from time to time regarding your purchases or the services (like forums and announcement lists) you have subscribed to.
<p></p>
We may also send you promotional announcements from time to time about new products and services that you might find useful.
<p></p>
                        <p>You may also opt out from receiving information from us at any time and ask us to remove your contact information from our database.</p>
                   </div>
                 </div>
              </div>
            </div>
           </section>