﻿@using BananaPlanerMVC.Utils
@model SchoolDuesLib.Models.Event
@{
    string text = (string) @ViewData["Text"];
}   <input id="nextPage" type="hidden" name="nextPage"/>
    <ul class="nav nav-tabs">
        <li class="visible-desktop">@Html.ActionLink("Event Details", "Edit", new {Id = @Model.Id},
                htmlAttributes: new Dictionary<string, object>{{"onclick","return submitAndNav('Edit','MainForm')"}})
        </li>
        @if(Model.NeedVolunteers == true)
        {
            @Html.NavLink("Volunteers", "Volunteers", "Event", 
            new RouteValueDictionary{{"id", @Model.Id} }, liClass: new []{"visible-desktop"},
            htmlAttributes: new Dictionary<string, object>{{"onclick","return submitAndNav('Volunteers','MainForm')"}})
        }
        @if(Model.NeedSupplies == true)
        {
        @Html.NavLink("Supplies", "Supplies", "Event", 
            new RouteValueDictionary{{"id", @Model.Id}}, liClass: new []{"visible-desktop"},
            htmlAttributes: new Dictionary<string, object>{{"onclick","return submitAndNav('Supplies','MainForm')"}})
        }
        @Html.NavLink("Recipients", "Invite", "Event", 
            new RouteValueDictionary{{"id", @Model.Id}}, liClass: new []{"visible-desktop"},
            htmlAttributes: new Dictionary<string, object>{{"onclick","return submitAndNav('Invite','MainForm')"}})
        <li class="dropdown hidden-desktop active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                @text
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li >@Html.ActionLink("Event Details", "Edit", new {Id = @Model.Id})</li>
        @if(Model.NeedVolunteers == true)
        {
            @Html.NavLink("Volunteers", "Volunteers", "Event", new RouteValueDictionary{{"id", @Model.Id}})
        }
        @if(Model.NeedSupplies == true)
        {
        @Html.NavLink("Supplies", "Supplies", "Event", new RouteValueDictionary{{"id", @Model.Id}})
        }
                @Html.NavLink("Recipients", "Invite", "Event", new RouteValueDictionary{{"id", @Model.Id}})
            </ul>
        </li>
    </ul>
