﻿@using SchoolDuesLib.Models
@using SchoolDuesLib.Providers
@model SchoolDuesLib.Models.Event
@{
    ViewBag.Title = "Edit Event";
    Layout = "~/Views/Shared/_EventLayout.cshtml";
    var userProfile = new UserDataAccess(User.Identity.Name).GetUserProfileByUserName(User.Identity.Name);
//    var noSchools = !((IList<School>)ViewBag.Schools).Any();
}
@using (Html.BeginForm(ViewContext.RouteData.GetRequiredString("action"), "Event", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <h4>Event Details</h4>
@*
    if (noSchools)
    {
         <div class="alert">There are no schools configured.
             You can either add school you want manage to @Html.ActionLink("your profile", "My", "Account") in addition you can create
             events for the schools where you children are enrolled.
        </div>
    }
*@

    <div class='white-card'>
@*
        <div class="row">
            <div class="span3">
                <label class="radio">
                    @if (noSchools)
                    {
                    @Html.RadioButtonFor(m => m.SchoolRelated, "true", new { id = "schoolRelated", disabled = "disabled" })
                    }
                    else
                    {
                    @Html.RadioButtonFor(m => m.SchoolRelated, "true", new { id = "schoolRelated" })
                    }
                    @Html.Label("schoolRelated", "School Related")
                </label>
                <label class="radio">
                    @Html.RadioButtonFor(m => m.SchoolRelated, "false", new { id = "notSchoolRelated" })
                    @Html.Label("notSchoolRelated", "Not School Related")
                </label>
            </div>
            <div class="span3"></div>
            <div class="span2"></div>
        </div>
        <div class="row" id="schoolDiv">
            @if (!noSchools)
            {
            <div class="row">&nbsp;</div>
            <div class="span4">
                @Html.LabelFor(m => m.SchoolId)
                @Html.DropDownListFor(m => m.SchoolId, new SelectList(ViewBag.Schools, "Id", "Name"), new { @class = "span4" })
            </div>
            <div class="span5">
                @Html.LabelFor(m => m.Teachers)
                @Html.TextBoxFor(m => m.Teachers, new { @class = "span5", placeholder = "Mrs. Smith, Mr. Jones" })
            </div>
            }
        </div>
        <div class="row">&nbsp;</div>
*@
        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Museum class trip", @class = "span5" })
                <p>@Html.ValidationMessageFor(m => m.Name)</p>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { rows = "5", @class = "span8", cols = "20" })
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.Date)
                <div class="input-append date" id="eventDate" data-date="12-02-2012" data-date-format="mm/dd/yyyy">
                    @Html.TextBoxFor(m => m.Date, "{0:MM/dd/yyyy}", new { @class = "input-small", size = "16", type = "text" })
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>
            <div class="span3">
                @Html.LabelFor(m => m.StartTime)
                <div class="input-append bootstrap-timepicker" >
                    @*                    @Html.TextBoxFor(m => m.StartTime, "{0:hh:mm tt}")*@
                    @Html.TextBoxFor(m => m.StartTime, "{0:hh:mm tt}", new { @class = "input-small", size = "16", type = "text", id = "timeStart" })
                    <span class="add-on"><i class="icon-time"></i></span>
                </div>
                <p>@Html.ValidationMessageFor(m => m.StartTime)</p>

            </div>
            <div class="span3">
                @Html.LabelFor(m => m.EndTime)
                <div class="input-append bootstrap-timepicker" >
                    @Html.TextBoxFor(m => m.EndTime, "{0:hh:mm tt}", new { @class = "input-small", size = "16", type = "text", id = "timeEnd" })
                    <span class="add-on"><i class="icon-time"></i></span>
                </div>
                <p>@Html.ValidationMessageFor(m => m.EndTime)</p>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.Location)
                @Html.TextAreaFor(m => m.Location, new { rows = "4", @class = "span5", cols = "20" })
            </div>
        </div>
    </div>
    <h4>Funds</h4>
        if (!userProfile.PaymentAccounts.Any())
        {
    <div class="alert">You need to configure Dwolla on 
        @Html.ActionLink("your account", "My", "Account")
        before you can collect funds through BananaPlanr. Dwolla is a low cost online payments system that 
        transfers money from bank accounts rather than credit cards. It saves money for your school by not paying high credit card fees.
        More information available at <a href="http://dwolla.com">Dwolla.com</a>.
            </div>
        }
    <div class='white-card'>
        <div class="row">
            <div class="span4">
                <label>Will you be collecting funds?</label>
                <div>
                    <label class="radio">
                        @if (!userProfile.PaymentAccounts.Any())
                        {
                            @Html.RadioButtonFor(m => m.FundSelection, "1", new { id = "perPerson", disabled = "disabled" })
                            @Html.Label("perPerson", "Yes, I need each participant to contribute", new { @class = "disabled" })
                        }
                        else
                        {
                            @Html.RadioButtonFor(m => m.FundSelection, "1", new { id = "perPerson" })
                            @Html.Label("perPerson", "Yes, I need each participant to contribute")
                        }
                    </label>
                    @*
                    <label class="radio">
                        @Html.RadioButtonFor(m=>m.FundSelection, "2", new {id="total"})
                        @Html.Label("total", "Yes, but I need to raise a goal amount")
                    </label>
    *@
                    <label class="radio">
                        @Html.RadioButtonFor(m => m.FundSelection, "0", new { id = "null" })
                        @Html.Label("null", "No")
                    </label>
                </div>
            </div>
            <div class="span3" id="perPersonDiv">
                @Html.LabelFor(m => m.FundsPerPerson)
                <div class="input-prepend input-append">
                    <span class="add-on">$</span>
                    @Html.TextBoxFor(m => m.FundsPerPerson, new { @class = "span2", placeholder = "0.00" })
                </div>
            </div>
@*
            <div class="span2" id="totalDiv">
                @Html.LabelFor(m=>m.FundsTotal)
                <div class="input-prepend input-append">
                    <span class="add-on">$</span>
                    @Html.TextBoxFor(m=>m.FundsTotal, new {@class="span2",placeholder="0.00"})
                </div>
            </div>
*@
        </div>
    </div>
    <h4>Additional Information</h4>
    <div class='white-card'>
        <div class="row">
            <div class="span5">
                <label>Will this event be requiring volunteers or sign-ups?</label>
                <label class="radio">
                    @Html.RadioButtonFor(m => m.NeedVolunteers, "true", new { id = "yesVoluntters" })
                    @Html.Label("yesVoluntters", "Yes, I will add volunteers next")
                </label>
                <label class="radio">
                    @Html.RadioButtonFor(m => m.NeedVolunteers, "false", new { id = "noVoluntters" })
                    @Html.Label("noVoluntters", "No")
                </label>
                                <p>@Html.ValidationMessageFor(m => m.NeedVolunteers)</p>

            </div>
            <div class="span4">
                <label>Will you be collecting supplies for this event?</label>
                <div>
                <label class="radio">
                    @Html.RadioButtonFor(m => m.NeedSupplies, "true", new { id = "yesSupplies" })
                    @Html.Label("yesSupplies", "Yes, I will provide a list of supplies")
                </label>
                    <label class="radio">
                        @Html.RadioButtonFor(m => m.NeedSupplies, "false", new { id = "noSupplies" })
                        @Html.Label("noSupplies", "No")
                    </label>
                    <p>@Html.ValidationMessageFor(m => m.NeedSupplies)</p>

                </div>
            </div>
        </div>
    </div>
    @Html.ValidationSummary()
    <input type="submit" value="Next" class="btn" />
}
@section scriptbottom
{
    @Scripts.Render("~/bundles/bootstraper-datetime")
    @Styles.Render("~/Content/bootstraper-datetime")
    <script type="text/javascript">

        function domAttrModified(obj) {
            $(obj).bind('DOMAttrModified', function () {
                if ($(obj).attr('class').indexOf('input-validation-error') != -1)
                    $(obj).parent().addClass('input-validation-error');
                else
                    $(obj).parent().removeClass('input-validation-error');
            });
        }
        
        $(document).ready(function () {
            
            $('[name=NeedVolunteers]').each(function (index) { domAttrModified(this); });
            $('[name=NeedSupplies]').each(function (index) { domAttrModified(this); });

            $("#eventDate").datepicker();
            $("#timeStart").timepicker({ defaultTime: false });
            $("#timeEnd").timepicker({ defaultTime: false });

            @if (Model.FundsTotal != null)
            {
                @:$('#perPersonDiv').hide();
            }
            else if (Model.FundsPerPerson != null)
            {
                @:$('#totalDiv').hide();
            }
            else
            {
                @:$('#perPersonDiv').hide();
                @:$('#totalDiv').hide();
            }
            

            $("input[name$='FundSelection']").click(function () {
                switch ($(this).val()) {
                case "1":
                    $('#perPersonDiv').show();
                    break;
                case "2":
                    $('#perPersonDiv').hide();
                    break;
                case "0":
                    $('#perPersonDiv').hide();
                    break;
                }
            });
            $("input[name$='SchoolRelated']").click(function () {
                switch ($(this).val()) {
                case "true":
                    $('#schoolDiv').show();
                    break;
                case "false":
                    $('#schoolDiv').hide();
                    break;
                }
            });
            @if (!Model.SchoolRelated)
            {
                @:$('#schoolDiv').hide();
            }
        });
    </script>
@*
        @Scripts.Render("~/bundles/jqueryval") // remove client side validation as it doesn't work with time field
*@
}
