﻿@using BananaPlanerMVC.Models
@using BananaPlanerMVC.Utils
@using SchoolDuesLib.Models
@model Event

@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var selfInvite = Model.Invitations.FirstOrDefault(i => i.Parent.UserName == User.Identity.Name);
}
@if(Model.IsDraft)
{
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> This event is still in Draft mode and only visible to you. Please remember to publish it.
    </div>
}
<div>
    <div class="row">
        <div class="pull-right">
            <div class="btn-group">
                @Html.ActionLink("Edit", "Edit", "Event", new {Id = Model.Id}, new {@class="btn btn-primary"})
                @if(!Model.IsDraft)
                {
@*                    <a class="btn btn-primary hidden-tablet" href="#">Print</a>*@
                    if(selfInvite != null)
                     {
                         @Html.ActionLink("View as Parent", "Get", "Invite", new {selfInvite.Id}, new {@class="btn btn-primary"})
                     }
@*
                    <a class="btn btn-primary" href="#">Add Event</a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add Event</a></li>
                        <li><a href="#">Add Event using same recipients</a></li>
                    </ul>
*@
                }
            </div>
            @if (Model.IsDraft)
            {
                <div class="btn-group">
                    <a class="btn btn-primary" href="@Url.Action("Publish", "Event", new { Id = Model.Id })">Publish</a>
                </div>
            }
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class='span3'>
            <div class="white-card">
                @Model.Name<br/>
                Location: @Model.Location
            </div>
        </div>
        <div class='span3'>
            <div class="white-card">
                Date: @Model.StartTime.Value.ToShortDateString()<br/>
                Time: @(Model.StartTime.Value.ToShortTimeString() + " - " + Model.EndTime.Value.ToShortTimeString())<br/>
            </div>
        </div>
        @if(Model.SchoolRelated)
        {
            <div class='span3'>
                <div class="white-card">
                    Teacher: @Model.Teachers
                    <br/>@*Classroom:*@
                </div>
            </div>
        }
        else
        {
            <div class='span3'>
                <div class="white-card">
                    Organizer: @Model.CreatedBy.Format(false)
                    <br/>@*Classroom:*@
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="span9">
            <div class="white-card">
                @foreach (var line in Model.Description.Split('\r'))
                {
                    @line <br/>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class='span6'>
            <div class="white-card">
                <h4 class="span2 no-margin-span">Participants </h4>
                @Html.ActionLink("Edit", "Invite", new {id = Model.Id}, new {@class="btn pull-right"})
                
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="1">Name</th>
                            @if(!Model.IsDraft)
                            {
                                <th colspan="1">Accepted</th>
                            }
                        </tr>
                    </thead>
                    @foreach (var invite in Model.Invitations.Where(i => i.Parent != null))
                    {
                        <tr><td>@invite.Parent.Email</td>
                            @if (!Model.IsDraft)
                            {
                                <td>
                                    @if (invite.Status == InvitationStatus.Accepted)
                                    {
                                        <i class="icon-check"/>
                                    }
                                    else
                                    {
                                        <i class="icon-check-empty"/>
                                    }
                                </td>                            }
                        </tr>
                    }
                </table>
                @if (!Model.IsDraft)
                {
                    <div class="btn-group">
                        <a class="btn btn-primary hidden-tablet" href="#">Print</a>
                        <a class="btn btn-primary" href="#"  onclick="send('@SendMailAction.AllParticipants', @Model.Id, 'To All Participants');">Email All</a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="send('@SendMailAction.AllParticipants', @Model.Id, 'To All Participants');">Email All</a></li>
                            <li><a href="#" onclick="send('@SendMailAction.AcceptedParticipants', @Model.Id, 'To Participants who accepted the invite');">Email Accepted</a></li>
                            <li><a href="#" onclick="send('@SendMailAction.NotAcceptedParticipants', @Model.Id, 'To Participants who did not accept the invite');">Email Not Accepted</a></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class='span3'>
            <div>
                <h4>Summary</h4>
                @if(Model.StartTime.Value > DateTime.Today)
                {
                <dl class="dl-horizontal">
                    <dt>Days Till Event</dt>
                    <dd>@((Model.StartTime.Value - DateTime.Today).Days)</dd>
                </dl>
                }
                @if (Model.FundsPerPerson != null || Model.FundsTotal != null)
                {
                    <dl class="dl-horizontal">
                        <dt>Amount Collected:</dt>
                        <dd>@string.Format("{0:c}",Model.Invitations.Count(i=>i.Order != null && i.Order.Status == OrderStatus.Complete) * Model.FundsPerPerson)</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Volunteers:</dt>
                        <dd>
                            @string.Format("{0} out of {1}", 
                                           Model.VolunteerSpots.SelectMany(v => v.Accepted).Count(), 
                                           Model.VolunteerSpots.Sum(v=>v.NumberOfVolunteers))
                        </dd>
                    </dl>
                }
                @if (Model.NeedSupplies == true)
                {
                    <dl class="dl-horizontal">
                        <dt>Supplies:</dt>
                        <dd>
                            <a href="#" id="supplies">
                                @string.Format("{0} out of {1}", Model.Supplies.Count(s => s.Accepted != null), Model.Supplies.Count)
                            </a>
                        </dd>
                    </dl>
                }
            </div>
        </div>
    </div>
    @if (Model.NeedVolunteers == true)
    {
        <div class="row">
            <div class='span6'>
                <div class="white-card">
                    <h4>Volunteers</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Volunteers</th>
                            </tr>
                        </thead>
                        @foreach (var spot in Model.VolunteerSpots.OrderBy(s => s.StartTime).ThenBy(s => s.EndTime))
                        {
                            <tr>
                                <td>@string.Format("{0} - {1}", spot.StartTime.ToShortTimeString(), spot.EndTime.ToShortTimeString())</td>
                                <td>
                                    @foreach (var vol in spot.Accepted)
                                    {
                                        @vol.Format(false)<br/>
                                    }
                                </td></tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</div>
@section scriptbottom
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#supplies').qtip({
                content:
                    {
                        text: '@(string.Format("Promised:{0}",
                                               string.Join(",", Model.Supplies.Where(s => s.Accepted != null).Select(s => s.Description)))) <p/>  @(
    string.Format("Still Needed:{0}",
                  string.Join(",", Model.Supplies.Where(s => s.Accepted == null).Select(s => s.Description))))'
                    },
                style: {
                    classes: 'myCustomClass' // max-width: 350px;
                },
                show: { event: 'click' }
            });
        });
    </script>
    @{ Html.RenderPartial("_SendEmail"); }
}