﻿@using SchoolDuesLib.Models
@model IEnumerable<SchoolDuesLib.Models.Event>

@{
    ViewBag.Title = "My Events";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="no-padding">
    <div class="row">
        <div class='span9'>
            <div class="white-card">
                <h3 class="section-header">Upcoming Events</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Event</td>
                            <td>Date</td>
                            <td>Time</td>
                            <td>Location</td>
                            <td>School</td>
                            <td>Teacher</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Event ev in @Model.Where(e => !e.IsDraft))
                        {
                        <tr>
                            <td>@Html.ActionLink(ev.Name, "Get", "Event", new {Id=ev.Id}, null)</td>
                            <td>@ev.StartTime.Value.ToShortDateString()</td>
                            <td>@ev.StartTime.Value.ToShortTimeString()</td>
                            <td>@ev.Location</td>
                            <td>@if (ev.School != null)
                                {
                                    @ev.School.Name
                                }
                            </td>
                            <td>@ev.Teachers</td>
                        </tr>
                        }
                    </tbody>
                </table>

                <h3 class="section-header">Drafts</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Event</td>
                            <td>Date</td>
                            <td>Time</td>
                            <td>Location</td>
                            <td>School</td>
                            <td>Teacher</td>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach(var ev in @Model.Where(e=>e.IsDraft))
                    {
                        <tr>
                            <td>@Html.ActionLink(ev.Name, "Get", "Event", new {Id=ev.Id}, null)</td>
                            <td>@ev.StartTime.Value.ToShortDateString()</td>
                            <td>@ev.StartTime.Value.ToShortTimeString()</td>
                            <td>@ev.Location</td>
                            <td>@ev.School.Name</td>
                            <td>@ev.Teachers</td>
                        </tr>
                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>