﻿@model SchoolDuesLib.Models.Event
@{
    ViewBag.Title = "Event - Recipients";
    Layout = "~/Views/Shared/_EventLayout.cshtml";
}
@using (Html.BeginForm("Invite", "Event", FormMethod.Post, new {@class = "form-horizontal", id="MainForm"}))
{
    Html.RenderPartial("_EventNavigation", Model, new ViewDataDictionary { { "Text", "Recipients" } });
    <div class='white-card'>
        <div class="row">
            <div class="span8">
                @if(!Model.IsDraft)
                {
                    <div class="alert">This event is already published. To invite more people simply add their emails to the list however if you want to un-invite somebody 
                        keep in mind that emails were already sent out.
                    </div>
                }
                <label>Attendees (one email per line)</label>
                <div>
                    @*                    <textarea rows="5" class="span8" cols="20" placeholder="email addresses one per line"></textarea>*@
                    <textarea id="emails" name="emails" rows="5" class="span8" cols="20">@ViewBag.Emails</textarea>
                </div>
            </div>
            <div class="span8">
                <label>Admins (others who can manage this event)</label>
                <div>
@*                    <textarea rows="5" class="span8" cols="20" placeholder="email addresses comma separated or one per line"></textarea>*@
                    <textarea id="admins" name="admins" rows="5" class="span8" cols="20">@ViewBag.Admins</textarea>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Review" class="btn" />
}