﻿@model SchoolDuesLib.Models.Event
@{
    ViewBag.Title = "Event - Supplies";
    Layout = "~/Views/Shared/_EventLayout.cshtml";
}
@using (Html.BeginForm("Supplies", "Event", FormMethod.Post, new Dictionary<string, object>{{"id","MainForm"}}))
{
    Html.RenderPartial("_EventNavigation", Model, new ViewDataDictionary { { "Text", "Supplies" } });
    <div class='white-card'>
        <div class="row">
            <div class="span8">
                <label for="supplies">Enter each item on a separate line</label>
                <textarea id="supplies" name="supplies" rows="4" class="span8" cols="20">@ViewBag.SuppliesString</textarea>
            </div>
        </div>
    </div>
    <input type="submit" value="Next" class="btn" />
}