﻿@model SchoolDuesLib.Models.Event
@{
    ViewBag.Title = "Event - Volunteers";
    Layout = "~/Views/Shared/_EventLayout.cshtml";
}
@using (Html.BeginForm("Volunteers", "Event", FormMethod.Post, new Dictionary<string, object> { { "id", "MainForm" } }))
{
    Html.RenderPartial("_EventNavigation", Model, new ViewDataDictionary { { "Text", "Volunteers" } });
    <div class='white-card'>
            @for (int i = 0; i < Model.VolunteerSpots.Count; i++)
            {
        <div class="row">
                @Html.Hidden("VolunteerSpots[" + i + "].Id", Model.VolunteerSpots[i].Id)
            <div class="span2">
                @Html.Label("VolunteerSpots[" + i + "].NumberOfVolunteers", "Number of Volunteers")
                @Html.TextBox("VolunteerSpots[" + i + "].NumberOfVolunteers", Model.VolunteerSpots[i].NumberOfVolunteers, new {type = "number", @class = "span2", name="startTime"})
            </div>
            <div class="span2">
                @Html.Label("VolunteerSpots[" + i + "].StartTime", "From")
                <div class="input-append bootstrap-timepicker" >
                    @Html.TextBox("VolunteerSpots[" + i + "].StartTime", Model.VolunteerSpots[i].StartTime.ToShortTimeString(), new {@class = "input-small", size = "16", type = "text"})
                    <span class="add-on"><i class="icon-time"></i></span>
                </div>
            </div>
            <div class="span2">
                @Html.Label("VolunteerSpots[" + i + "].EndTime", "Until")
                <div class="input-append bootstrap-timepicker" >
                    @Html.TextBox("VolunteerSpots[" + i + "].EndTime", Model.VolunteerSpots[i].EndTime.ToShortTimeString(), new {@class = "input-small", size = "16", type = "text"})
                    <span class="add-on"><i class="icon-time"></i></span>
                </div>
            </div>
            <div class="span2">
                @Html.Label("VolunteerSpots[" + i + "].Comments", "Comments")
                @Html.TextBox("VolunteerSpots[" + i + "].Comments", Model.VolunteerSpots[i].Comments, new {@class = "input-large",  type = "text"})
            </div>
    </div>
            }
            <input type="Submit" value="Add Volunteer Spot" class="btn" name="button" />
            <input type="submit" value="Next" class="btn" name="button"/>
        </div>
}
@section scriptbottom
{
    @Scripts.Render("~/bundles/bootstraper-datetime")
    @Styles.Render("~/Content/bootstraper-datetime")
    <script type="text/javascript">
        $(document).ready(function() {
            $("[id*=StartTime]").timepicker({ defaultTime: false });
            $("[id*=EndTime]").timepicker({ defaultTime: false });
        });
    </script>
}