﻿@using SchoolDuesLib.Models
@model IEnumerable<SchoolDuesLib.Models.Invitation>

@{
    ViewBag.Title = ViewBag.Student.FirstName + "'s Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

<h2>@ViewBag.Student.FirstName's Dashboard</h2>
<div class="row">
    <div class='span9'>
            <div class="white-card">
                <h3 class="section-header">Upcoming Events</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Event</td>
                            <td>Date</td>
                            <td>Time</td>
                            <td>Location</td>
@*                            <td>School</td>*@
                            <td>Teacher</td>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach(var invite in @Model.OrderBy(i=>i.Event.StartTime))
                    {
                        var ev = invite.Event;
                        <tr>
                            <td>@Html.ActionLink(ev.Name, "Get", "Invite", new {invite.Id}, null)</td>
                            <td>@ev.StartTime.Value.ToShortDateString()</td>
                            <td>@ev.StartTime.Value.ToShortTimeString()</td>
                            <td>@ev.Location</td>
@*                            <td>@ev.School.Name</td>*@
                            <td>@ev.Teachers</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
    </div>
</div>