﻿@using BananaPlanerMVC.Models
@using BananaPlanerMVC.Utils
@using SchoolDuesLib.Models
@using SchoolDuesLib.Providers
@model Invitation

@{
    ViewBag.Title = "Event Invitation";
    var theEvent = Model.Event;
}
<section class='section-wrapper'>
    <div class='container'>
        <div class='row'>
            <div class='span8 offset2'>
                <div>
                        <div class="row">
                            <div class="pull-right">
                                <div class="btn-group ">
                                    <a class="btn btn-primary" href="#"  onclick="send('@SendMailAction.Organizer', @Model.Id, 'To Event Organizer');">Email Organizer</a>
@*
                                    <a class="btn btn-primary" href="#">Add Event</a>
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Add Event</a></li>
                                        <li><a href="#">Add Event using same recipients</a></li>
                                    </ul>
*@
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <h4>@theEvent.Name</h4>
                    <div class="row">
                        <div class='span4'>
                            <div class="white-card">
                                Location: @theEvent.Location<br/>
                                @if (theEvent.SchoolId != null)
                                {
                                    @:Teacher: @theEvent.Teachers
                                }
                                else
                                {
                                    @:Organizer: @theEvent.CreatedBy.Format(false)
                                }
                            </div>
                        </div>
                        <div class='span4'>
                            <div class="white-card">
                                Date: @theEvent.StartTime.Value.ToShortDateString()<br/>
                                Time: @(theEvent.StartTime.Value.ToShortTimeString() + " - " + theEvent.EndTime.Value.ToShortTimeString())<br/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span8">
                            <div class="white-card">
                                @foreach( var line in theEvent.Description.Split('\r'))
                                {
                                    @line <br/>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='span4'>
                            <div class="white-card">
                                <h4>Participants</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th >Responded(@theEvent.Invitations.Count(i => i.Status == InvitationStatus.Accepted))</th>
                                        </tr>
                                    </thead>
                                    @foreach (var invite in theEvent.Invitations.Where(i => i.Student != null))
                                    {
                                        <tr><td>@invite.FormatParticipantName(false)</td></tr>
                                    }
                                </table>
                            </div>
                        </div>
                        @if (theEvent.NeedSupplies == true)
                        {
                            <div class='span4'>
                                <div class="white-card">
                                    <h4>Supplies</h4>
                                    <table class="table">
                                        <thead><tr><th colspan="2">Items Needed</th></tr></thead>
                                        @foreach (var supply in theEvent.Supplies)
                                        {
                                            <tr>
                                                <td>@supply.Description</td>
                                                <td>
                                                    @if (supply.Accepted != null)
                                                    {
                                                        <div>@supply.Accepted.Format(false)</div>
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("Sign up", "AcceptSupplyGuest", "Invite", new { supply.Id, Model.Uid }, new {@class="btn"})
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        }
                        @if (theEvent.NeedVolunteers == true)
                        {
                            <div class='span4'>
                                <div class="white-card">
                                    <h4>Volunteers</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Time / Volunteers</th>
                                            </tr>
                                        </thead>
                                        @foreach (var spot in theEvent.VolunteerSpots.OrderBy(s => s.StartTime).ThenBy(s => s.EndTime))
                                        {
                                            <tr>
                                                <td>@string.Format("{0} - {1}", spot.StartTime.ToShortTimeString(), spot.EndTime.ToShortTimeString())<br/>
                                                    @foreach (var vol in spot.Accepted)
                                                    {
                                                        @vol.Format(false)<br/>
                                                    }
                                                    @if (spot.Accepted.Count() < spot.NumberOfVolunteers)
                                                    {
                                                        @Html.ActionLink("Sign up", "AcceptVolunteerGuest", "Invite", new { spot.Id, Model.Uid }, new {@class="btn"})
                                                    }
                                                </td></tr>
                                        }
                                    </table>                                
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="span9">
                            <div class="pull-right">
                                @if (@Model.Status != InvitationStatus.Accepted)
                                {
                                    if (theEvent.FundsPerPerson == null && theEvent.FundsTotal == null)
                                    {
                                        @Html.ActionLink("Accept", "AcceptGuest", "Invite", new {Model.Id, Model.Uid}, new {@class="btn btn-danger btn-large"});
                                    }
                                    else if (theEvent.FundsPerPerson != null)
                                    {
                                        <a href="#" id="whyDwolla">Why do we use Dwolla?</a>
                                        @Html.ActionLink(string.Format("Accept and pay ${0}", theEvent.FundsPerPerson), "AcceptGuest", "Invite", new {Model.Id, Model.Uid}, new {@class="btn btn-danger btn-large"});
                                    }
                                }
                                else
                                {
                                    if (theEvent.FundsPerPerson == null && theEvent.FundsTotal == null)
                                    {
                                        @:You accepted this invitation on @Model.AcceptedOn.Value.ToShortDateString()
                                    }
                                    else if (theEvent.FundsPerPerson != null)
                                    {
                                        @:You accepted this invitation on @Model.AcceptedOn.Value.ToShortDateString() and paid $@Model.Event.FundsPerPerson
                                    }
                                }                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

            @section ScriptBottom {

    <script type="text/javascript">
        $(document).ready(function() {
            $('#whyDwolla').qtip({
                content: 'Dwolla accepts payments from your bank account rather than credit cards thus saving money for your school by not paying a credit card processing fee.',
                style: {
                    classes: 'myCustomClass' // max-width: 350px;
                },
                show: { event: 'click' }
            });
        });
    </script>
    @{ Html.RenderPartial("_SendEmail"); }

}
