﻿@model BananaPlanerMVC.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<section class='section-wrapper create-account-page-w'>
    <div class='container'>
        <div class='row'>
            <div class='span4 offset2'>
                <div class='white-card extra-padding'>
                    <section class="social" id="socialLoginForm">
                        <h4>Use one of the services below to login</h4>
                        @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl =  @ViewBag.ReturnUrl})
                        @Html.ActionLink("View and respond as a guest" , "GetGuest", "Invite", new {Id = @ViewBag.Id}, new {@class="btn"})
                    </section>
                </div>
            </div>
            <div class='span4 '>
                <div class='white-card extra-padding'>
                    <h3 align="center">Why Register?</h3>
                    <ul>
                        <li>Track all your invitations</li>
                        <li>Create and track your own events</li>
                        <li>Volunteer to bring supplies and sign-up to help out</li>
                        <li>Add your kids and track all their events automatically on the master calendar</li>
                        <li>Allow invitees to select what time slots they want to volunteer</li>
                        <li>Allow invitees to select what items to bring to an event</li>
                        <li>One place to wrangle your kids' invitations and activities</li>
                    </ul>
                    The best tool for managing volunteers, fundraisers, sign-ups parties, sports games and everything else in your kids' schedule
                    <h2 align="center">And it's FREE!!!</h2>
                </div>
            </div>
        </div>
    </div>
</section>
