﻿@{
    ViewBag.Title = "My Calendar";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="white-card">
<div id='calendar'></div>
</div>
@section scriptbottom
{
    <script language="javascript">
        $(document).ready(function () {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                events: "/dashboard/cal",
                
                // put your options and callbacks here
                header: {
                    right: 'prev,next today',
                    center:'',
                    left: 'title',
//                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
//                defaultView: 'agendaWeek',
            });

        });
    </script>
        @Scripts.Render("~/bundles/fullcalendar")
@Styles.Render("~/Content/fullcalendar")

}
