﻿@using BananaPlanerMVC.Utils
@using SchoolDuesLib.Models
@using SchoolDuesLib.Providers
@model dynamic

@{
    ViewBag.Title = "My Planr";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var invitesForParent = new InviteDataProvider(User.Identity.Name).GetInvitesForParent(User.Identity.Name);
    var thisWeek = invitesForParent.Where(i =>i.Status == InvitationStatus.Accepted && i.Event.StartTime >= DateTime.Today && i.Event.StartTime <= DateTime.Today.AddDays(7)).ToList();
    var nextWeek = invitesForParent.Where(i => i.Status == InvitationStatus.Accepted && i.Event.StartTime > DateTime.Today.AddDays(7) && i.Event.StartTime <= DateTime.Today.AddDays(14));

    var eventsWithSupplies = invitesForParent.Where(i => i.Event.Supplies.Any(s => s.Accepted != null && s.Accepted.UserName == User.Identity.Name)).
        Select(i => new {i.Event, Supplies = i.Event.Supplies.Where(s => s.Accepted != null && s.Accepted.UserName == User.Identity.Name)}).ToList();
    
}

<h2>My Planr</h2>
@if(ViewBag.NewUser)
{
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> It looks like you haven't added any Events or Kids. 
        @Html.ActionLink("Click here to add your kids", "Add", "Student") or 
        @Html.ActionLink("here to create your first event", "Create", "Event")
    </div>
}
<div class="row">
@*
        <br/>
            <input type="text" class="search-query" placeholder="Search">
            <p/>
*@
    @if (invitesForParent.Any())
    {
        <div class="span5">
        @if (invitesForParent.Any(i=>(i.Status != InvitationStatus.Accepted)))
        {
        <div class="white-card">
            <h4>Pending Invitations</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Event</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var invite in invitesForParent.Where(i=>(i.Status != InvitationStatus.Accepted)))
                        {
                        <tr>
                            <td>@invite.Event.StartTime.Value.ToString("ddd M/d hh:mm tt")</td>
                            <td>@Html.ActionLink(invite.Event.Name, "Get", "Invite", new {Id=invite.Id}, null)</td>
                        </tr>
                        }
                    </tbody>
                </table>
        </div>
        }
        @if (thisWeek.Any())
        {
            <div class="white-card">
                <h4>This Week</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Event</td>
                            <td>Child</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var invite in thisWeek)
                        {
                        <tr>
                            <td>@Html.ActionLink(invite.Event.StartTime.Value.ToString("ddd M/d hh:mm tt"), "Get", "Invite", new {Id=invite.Id}, null)</td>
                            <td>@invite.Event.Name</td>
                            <td>@invite.Student.FirstName</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (nextWeek.Any())
        {
            <div class="white-card">
                <h4>Next Week</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Event</td>
                            <td>Child</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var invite in nextWeek)
                        {
                        <tr>
                            <td>@Html.ActionLink(invite.Event.StartTime.Value.ToString("ddd M/d hh:mm tt"), "Get", "Invite", new {Id=invite.Id}, null)</td>
                            <td>@invite.Event.Name</td>
                            <td>@invite.Student.FirstName</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        </div>
    }
    <div class='span4'>
        @if (eventsWithSupplies.Any())
        {
            <div class="white-card">
                <h4>Reminders</h4>
                @foreach (var ev in eventsWithSupplies.OrderBy(e=>e.Event.StartTime))
                {
                    foreach (var sup in ev.Supplies)
                    {
                <label class="checkbox">
                    <input type="checkbox"> Bring @sup.Description for @ev.Event.Format()
                </label>
                    }
                }
            </div>
        }
        <div class="white-card">
            <h4>More Planr</h4>
            @Html.ActionLink("Configure your account (add children, schools, update name)", "My", "Account")
            <br/>
            <a href="https://www.facebook.com/bananaplanr">Follow BananaPlanr on Facebook</a>
            <br/>
            <a href="https://twitter.com/bananaplanr">BananaPlanr on Twitter</a>
        </div>
    </div>
</div>