﻿@using BananaPlanerMVC.Utils
@using SchoolDuesLib.Providers
@using SchoolDuesLib.Utils
@{
    Layout = "~/Views/Shared/_VeneraLayout.cshtml";
    var children = new ChildDataAccess(User.Identity.Name).GetStudentsByParentUsername(User.Identity.Name);
    var events = new EventDataProvider(User.Identity.Name).GetEventsCanAdmin(fromDate:DateTime.Today);
}
<section class='section-wrapper stripped'>
    <div class='container'>
        <div class='row'>
            <div class='span3 visible-desktop'>
                <ul class="nav nav-list bs-docs-sidenav">
                    @if (Roles.IsUserInRole(Constants.ParentRoleName))
                    {
                        @Html.NavLink("Dashboard", "Index", "Dashboard", liClass: new []{"visible-desktop"})
                        @Html.NavLink("Calendar", "Calendar", "Dashboard", liClass: new []{"visible-desktop"})
                        <li class="nav-header">My Kids</li>
                        foreach (var child in children)
                        {
                             @Html.NavLink(child.FirstName, "Child", "Invite",new RouteValueDictionary{{"id", child.Id}}, null)
                        }
                        if(!children.Any())
                        {
                            @Html.NavLink("Add Child", "Add", "Student") 
                        }
                        <li class="divider"></li>
                    }
                    <li class="nav-header">My Events</li>
                    @Html.NavLink("All", "Index", "Event")
                    @foreach(var ev in events)
                    {
                        @Html.NavLink(ev.Name, "Get", "Event",new RouteValueDictionary{{"id", ev.Id}}) 
                    }
                    @if(events.Any())
                    {
                    <li class="divider"></li>
                    }
                    @Html.NavLink("Create Event", "Create", "Event")
                    @Html.NavLink("Past Events", "Past", "Event")
                </ul>                  
            </div>
            <div class='span9'>
                @RenderBody()
            </div>
        </div>
    </div>
</section>
@section ScriptBottom {
    @RenderSection("ScriptBottom", required: false)
}
@section ExtraMenu
{
    @Html.NavLink("Add Child", "Add", "Student",liClass:new []{"hidden-desktop"})
    @Html.NavLink("My Dashboard", "Index", "Dashboard",liClass:new []{"hidden-desktop"})
    @Html.NavLink("Create Event", "Create", "Event",liClass:new []{"hidden-desktop"})
    @Html.NavLink("My Events", "Index", "Event",liClass:new []{"hidden-desktop"})
}
