﻿@using SchoolDuesLib.Providers
@{
    Layout = "~/Views/Shared/_VeneraLayout.cshtml";
    var children = new ChildDataAccess(User.Identity.Name).GetStudentsByParentUsername(User.Identity.Name);
}
<section class='section-wrapper stripped'>
    <div class='container'>
        <div class='row'>
            <div class='span1'></div>
            <div class='span10'>
                @RenderBody()
            </div>
        </div>
    </div>
</section>
@section ScriptBottom {
    @RenderSection("ScriptBottom", required: false)
}
