﻿@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
    }
    <div class='top-account-control visible-desktop'>
        @Html.ActionLink("My Account ", "My", "Account")
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    </div>
}
else
{
    <div class='top-account-control visible-desktop'>
        @Html.ActionLink("Sign Up", "Register", "Account", null, new {@class="top-create-account"}) 
        @Html.ActionLink("Sign In", "Login", "Account", null, new {@class = "top-sign-in"})
        <div class='login-box social'>
            <a class='close login-box-close' href='#'>&times;</a>
            <h4 class='login-box-head'>Login</h4>
            Use one of the services below to login
            @Html.Action("ExternalLoginsList", "Account", new {ViewBag.ReturnUrl})
        </div>
    </div>
}