﻿<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <fieldset>
            <legend>Send an email</legend>
           @* <label>To</label>*@
            <p><strong id="emailTo"></strong></p>
            <label>Subject</label>
            <input id="emailSubject" type="text" placeholder="A friendly reminder about upcoming event" class="span5">
            <label>Message</label>
            <textarea id="emailBody" class="span5" rows="8"></textarea>
        </fieldset>
    </div>
    <div class="modal-footer">
        <div id="div1"></div>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary" id="sendNow">Send Now</button>
    </div>
</div>
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <h4 class="text-success">The email was sent successfully.</h4>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
    </div>
</div>
<script>
    var action;
    var id;
    $("#sendNow").click(function () {
        $.ajax({
            url: '@Url.Action("Send", "Email")',
            type: "POST",
            data: {
                "action": action,
                "id": id,
                "subject": $('#emailSubject').val(),
                "body": $('#emailBody').val()
            },
            success: function(result) {
                $('#myModal').modal('hide');
                $('#myModal2').modal('show');
            },
        }).fail(function() { alert("Failed to send email."); })
            .always(function() {
                $('#emailSubject').val('');
                $('#emailBody').val('');
                $('#emailTo').html('');
            });
    });
    function send(a, i, toText) {
        action = a;
        id = i;
        $('#emailTo').html(toText);
        $('#myModal').modal('show');
    }
</script>