﻿@using System.Configuration
@using BananaPlanerMVC.Utils
@model dynamic
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>BananaPlanr - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    @Styles.Render("~/Content/themes/base/css", "~/Content/venera-css")
    @RenderSection("Scripts", required: false)
    @if(!Request.IsAuthenticated)
    {
        @Styles.Render("~/Content/zocial-css")
    }
    
    <link href="http://fonts.googleapis.com/css?family=Abel:400|Oswald:300,400,700" media="all" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Abel:400|Oswald:300,400,700|Finger Paint:400" media="all" rel="stylesheet" type="text/css" />
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Images/favicon.ico")"/>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <header id='header'>
        <div class='navbar navbar-fixed-top'>
            <div class='navbar-inner'>
                <div class='container'>
                    <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </a>                        
                    @Html.ActionLink("Banana Planr", "Index", "Home", null, new {@class = "brand"})
                    @Html.Partial("_LoginPartial")
                    <div class='nav-collapse collapse pull-right' id='top-navigation'>
                        <ul class='nav'>
                            <li class="divider"></li>
                            @RenderSection("ExtraMenu", required:false)
                            @if(!Request.IsAuthenticated)
                            {
                                @Html.NavLink("Home", "Index", "Home", liClass: new[] {"visible-desktop"})
                                @Html.NavLink("How It Works", "HowItWorks", "Home", liClass: new[] {"visible-desktop"})
                                @Html.NavLink("About", "About", "Home", liClass: new[] {"visible-desktop"})
                            }
                            else
                            {
                                @Html.NavLink("Dashboard", "Index", "Dashboard", liClass:new [] {"visible-desktop"} )

                            }
@*                            @Html.NavLink("Contact Us", "Contact", "Home" )*@

                            @if(!Request.IsAuthenticated)
                            {
                                <li class='hidden-desktop'>
                                    @Html.ActionLink("Sign In", "Login", "Account") @*Look like a bug in a theme that this can't show the login div*@
                                </li>
                            }
                            else
                            {

                                <li class="hidden-desktop">
                                    @Html.ActionLink("My Account ", "My", "Account")
                                </li>
                                <li class="hidden-desktop">
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                </li>
                            }
                        </ul>
                    </div> 

                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>          
        <div class='deep-footer'>
            <div class='container'>
                <div class='row'>
                    <div class='span2'>
                        <div class='copyright'>&copy; 2013 BananaPlanr</div>
                    </div>
                    <div class='span3 offset7'>
                        <ul class='footer-links'>
                            <li>
                                <a href="http://facebook.com/bananaplanr">
                                    <i class='icon-facebook'></i></a>
                            </li>
                            <li>
                                <a href="http://twitter.com/bananaplanr">
                                    <i class='icon-twitter'></i></a>
                            </li>
                            <li>
                                @Html.ActionLink("About", "About", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("FAQ", "Faq", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Privacy", "TermsOfService", "Home")
                            </li>
                            <li>
                                <small>v1.2.1</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery", "~/bundles/venera", "~/bundles/bp")
    @RenderSection("ScriptBottom", required: false)
</body>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '@ConfigurationManager.AppSettings["GoogleAnalyticsAcct"]', '@ConfigurationManager.AppSettings["GoogleAnalyticsDomain"]');
    ga('send', 'pageview');

</script>

</html>