﻿@model BananaPlanerMVC.Models.AppErrorModel

@{
    ViewBag.Title = Model.Title;
}

<section class='section-wrapper'>
    <div class='container'>
    <div class='row'>
        <div class='span6 offset3'>
        <div class="hero-unit">
            <h2>@Model.Header</h2>
            @Model.Text
        </div>
        </div>
    </div>
</div>
</section>
