﻿@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<section class='section-wrapper not-found-w'> 
    <div class='container'> 
        <div class='row'> 
            <div class='span4 offset1'> 
                <img alt="Not-found-error" src="~/Images/error.png" /> 
            </div> 
            <div class='span6'> 
                <h1 class='header-notfound'>Oops, our bad</h1> 
                <h4>There seems to be something wrong with our application.<i> But don't dispair, we're on it.</i></h4> 
                <div class='row row-separated'></div> 
                <p>Let's try one of the following remedies to get you back on track...</p> 
                <div class='not-found-solutions btn-group'> 
                    <a href="javascript:history.go(-1)" class="btn"><i class='icon-circle-arrow-left'></i> 
                        Go back 
                    </a> 
                    <a href="/" class="btn"><i class='icon-home'></i> 
                        Go to the homepage 
                    </a> 
                    <a href="http://help.bananaplanr.com" class="btn"><i class='icon-group'></i> 
                        Help 
                    </a> 
                </div> 
            </div> 
        </div> 
    </div> 
</section>

@if (Model != null && HttpContext.Current.IsDebuggingEnabled)
{
    <div>
        <p>
            <b>Exception:</b> @Model.Exception.Message<br />
            <b>Controller:</b> @Model.ControllerName<br />
            <b>Action:</b> @Model.ActionName
        </p>
        <div style="overflow: scroll">
            <pre>
                @Model.Exception.StackTrace
            </pre>
        </div>
    </div>
}